Repository nirukk52/supa-screengraph: changes, and which Codecov flags are due for each by the changed paths.
All: agents-contracts, eventbus, queue, agents-run

fix(tests): exclude nested node_modules in vitest
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/infra/repos/run-event-repo.ts
  packages/features/agents-run/src/infra/repos/run-repo.ts
  vitest.config.ts
Due: agents-run

fix(agents-run): remove tx upserts; rely on init
  packages/features/agents-run/src/infra/repos/run-event-repo.ts
Due: agents-run

test: serialise vitest threads to avoid singleton collisions
  vitest.config.ts
Due: none

test: seed run in RunEventRepo unit tests
  packages/features/agents-run/tests/unit/repos.spec.ts
Due: agents-run

docs: bug reviews and M5 retro update
  CLAUDE/bug-reviews.md
  docs/milestones/milestone-5(current)/retro.md
Due: none

fix(agents-run): atomic run/outbox transaction
  docs/testing/bug-log.md
  packages/features/agents-run/src/infra/repos/run-repo.ts
  packages/features/agents-run/tests/unit/mocks/db-mock.ts
Due: agents-run

docs: move all milestone docs into jira/milestones structure
  docs/jira/milestones/milestone-1/milestone-1.md
  docs/jira/milestones/milestone-2and3-setup/m3-backend-handoff.md
  docs/jira/milestones/milestone-2and3-setup/m3-setup-day2-tasks.md
  docs/jira/milestones/milestone-2and3-setup/milestone-3-setup.md
  docs/jira/milestones/milestone-2and3-setup/milestone3-sprint2.md
  docs/jira/milestones/milestone-2and3-setup/plan.md
  docs/jira/milestones/milestone-3(4-star-rating)/handoff-juinie.md
  docs/jira/milestones/milestone-3(4-star-rating)/m2-vs-m3-changes.md
  docs/jira/milestones/milestone-3(4-star-rating)/objective.md
  docs/jira/milestones/milestone-3(4-star-rating)/retro.md
  docs/jira/milestones/milestone-3(4-star-rating)/status-updates.md
  docs/jira/milestones/milestone-3(4-star-rating)/work-completed.md
  docs/jira/milestones/milestone-4(3.5-star-rating)/final-retro.md
  docs/jira/milestones/milestone-4(3.5-star-rating)/handoff-juinie.md
  docs/jira/milestones/milestone-4(3.5-star-rating)/hygine_before_m5_or_inbetween_m4.md
  docs/jira/milestones/milestone-4(3.5-star-rating)/m2-vs-m3-changes.md
  docs/jira/milestones/milestone-4(3.5-star-rating)/m4-plan.txt
  docs/jira/milestones/milestone-4(3.5-star-rating)/m4_v2_prisma_setup.md
  docs/jira/milestones/milestone-4(3.5-star-rating)/objective.md
  docs/jira/milestones/milestone-4(3.5-star-rating)/retro.md
  docs/jira/milestones/milestone-4(3.5-star-rating)/status-updates.md
  docs/jira/milestones/milestone-4(3.5-star-rating)/work-completed.md
  docs/jira/milestones/milestone-5(current)/handoff-juinie.md
  docs/jira/milestones/milestone-5(current)/last_retros_action_items.md
  docs/jira/milestones/milestone-5(current)/milestone-5.md
  docs/jira/milestones/milestone-5(current)/retro.md
  docs/jira/milestones/milestone-5(current)/status-updates.md
  docs/jira/milestones/milestone-5(current)/work-completed.md
  docs/milestones/milestone-5(current)/objective.md
Due: none

fix: stabilize tests with queue reset and deterministic processing
  .cursor/commands/and_update_knowledge_graph
  .cursor/commands/open-pr
  .cursor/commands/setup_a_milestone
  .cursor/commands/update-milestone
  .cursor/commands/update_knowledge_graph
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .vscode/settings.json
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/singletons.ts
  packages/features/agents-run/tests/integration/debug-stream.spec.ts
  packages/features/agents-run/tests/integration/helpers/process-run.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
  packages/features/agents-run/tests/integration/stream.spec.ts
Due: agents-run

docs: update m5 sequence with phase completion status
  CLAUDE.md
  docs/jira/milestones/milestone-5(current)/milestone-5.md
Due: none

feat: ports-first infra provider for agents-run
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/src/application/singletons.ts
Due: agents-run

feat: refactor all call sites to use getInfra()
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/src/application/usecases/cancel-run.ts
  packages/features/agents-run/src/application/usecases/start-run.ts
  packages/features/agents-run/src/application/usecases/stream-run.ts
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  packages/features/agents-run/src/infra/workers/run-worker.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/unit/cancel.spec.ts
Due: agents-run

docs: update m5 milestone - phase 1 complete
  docs/jira/milestones/milestone-5(current)/milestone-5.md
Due: none

Checkpoint before follow-up message
  packages/features/agents-run/src/application/singletons.ts
  pnpm-lock.yaml
Due: agents-run

feat: integrate awilix di container for agents-run
  .cursor/commands/open-pr
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/package.json
  packages/features/agents-run/src/application/container.ts
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/tests/integration/debug-stream.spec.ts
  packages/features/agents-run/tests/integration/helpers/process-run.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: agents-run

docs: update m5 milestone - phase 1 complete
  CLAUDE.md
  docs/jira/milestones/milestone-5(current)/milestone-5.md
  packages/features/agents-run/src/application/singletons.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
Due: agents-run

docs: add BUG-TEST-005 for test harness naming clarity
  CLAUDE.md
  docs/jira/bug-logs/BUG-TEST-005.md
  docs/jira/bug-logs/README.md
Due: none

docs: add BUG-TEST-006 for fragile timeout in process helper
  CLAUDE.md
  docs/jira/bug-logs/BUG-TEST-006.md
  docs/jira/bug-logs/README.md
Due: none

fix: skip worker boot in e2e tests via E2E_TEST flag
  apps/web/playwright.config.ts
  packages/api/index.ts
  tooling/scripts/scaffold/index.ts
Due: none

Update tooling/scripts/scaffold/index.ts
  tooling/scripts/scaffold/index.ts
Due: none

fix(agentsrun): add deterministic tracer wait
  .cursor/plans/test-357679da.plan.md
  CLAUDE/03-mindset.md
  docs/jira/bug-logs/BUG-TEST-005.md
  docs/jira/bug-logs/BUG-TEST-007.md
  docs/jira/milestones/milestone-5(current)/milestone-5.md
  docs/jira/milestones/milestone-5(current)/retro.md
  docs/jira/tech-debt/0003-deterministic-outbox-worker.md
  packages/database/prisma/test/teardown.js
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/src/infra/workers/adapters.ts
  packages/features/agents-run/tests/integration/debug-stream.spec.ts
  packages/features/agents-run/tests/integration/helpers/process-run.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
  packages/features/agents-run/tests/integration/stream.spec.ts
  packages/queue-inmemory/src/index.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: queue, agents-run

chore: ignore generated TypeScript declaration and JS files
  .gitignore
Due: none

feat: add App Config tab and run stream viewer
  .biomeignore
  apps/web/app/run/[runId]/page.tsx
  apps/web/app/run/components/RunStreamViewer.tsx
  apps/web/app/run/page.tsx
  apps/web/modules/run/components/RunEventCard.tsx
  apps/web/modules/run/components/RunEventsPanel.tsx
  apps/web/modules/run/components/RunOverviewCard.tsx
  apps/web/modules/run/components/RunStreamViewer.tsx
  apps/web/modules/run/components/index.ts
  apps/web/modules/run/hooks/index.ts
  apps/web/modules/run/hooks/useApkPath.ts
  apps/web/modules/run/hooks/useRunStream.ts
  apps/web/modules/run/lib/events.ts
  apps/web/modules/run/lib/time.ts
  apps/web/modules/saas/auth/components/LoginForm.tsx
  apps/web/modules/saas/auth/components/LoginModeSwitch.tsx
  apps/web/tsconfig.json
  biome.json
  packages/database/index.js
  packages/database/prisma/client.js
  packages/database/prisma/queries/ai-chats.js
  packages/database/prisma/queries/index.js
  packages/database/prisma/queries/organizations.js
  packages/database/prisma/queries/purchases.js
  packages/database/prisma/queries/users.js
  packages/database/prisma/test/teardown.js
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  tooling/scripts/scaffold/index.ts
Due: none

fix: remove unsupported negation pattern in biome scanner ignores
  biome.json
Due: none

fix: align LoginForm defaultValues with discriminated union schema
  apps/web/modules/saas/auth/components/LoginForm.tsx
Due: none

fix: remove generated database JS files from git tracking
  .gitignore
  biome.json
  packages/database/index.js
  packages/database/prisma/client.js
  packages/database/prisma/queries/ai-chats.js
  packages/database/prisma/queries/index.js
  packages/database/prisma/queries/organizations.js
  packages/database/prisma/queries/purchases.js
  packages/database/prisma/queries/users.js
  packages/database/prisma/test/teardown.js
Due: none

feat: add AppLaunchConfig endpoint with auto-stream connection
  apps/web/modules/run/components/RunStreamViewer.tsx
  apps/web/modules/run/hooks/useRunStream.ts
  apps/web/modules/run/lib/runId.ts
  apps/web/modules/saas/auth/components/LoginForm.tsx
  packages/agents-contracts/src/contracts/routes.ts
  packages/agents-contracts/src/contracts/run-launch.ts
  packages/agents-contracts/src/index.ts
  packages/agents-contracts/tests/run-launch.spec.ts
  packages/api/modules/agents/router.ts
Due: agents-contracts

feat(agents-run): add bullmq and pg-listen infrastructure
  .cursor/commands/and_update_knowledge_graph
  docs/jira/bug-logs/0000-template.md
  docs/jira/bug-logs/BUG-TEST-008.md
  docs/jira/feature-requests/0002-bullmq-pg-listen.md
  docs/jira/milestones/milestone-5(current)/handoff-juinie.md
  docs/jira/milestones/milestone-5(current)/milestone-5.md
  docs/jira/milestones/milestone-5(current)/retro.md
  docs/jira/milestones/milestone-5(current)/status-updates.md
  docs/jira/milestones/milestone-5(current)/work-completed.md
  package.json
  packages/CLAUDE.md
  packages/api/src/feature-registry.ts
  packages/features/agents-run/package.json
  packages/features/agents-run/src/application/constants.ts
  packages/features/agents-run/src/application/container.ts
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/src/application/usecases/start-run.ts
  packages/features/agents-run/src/infra/repos/run-event-repo.ts
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  packages/features/agents-run/tests/integration/debug-stream.spec.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
  packages/features/agents-run/tests/integration/stream.spec.ts
  packages/features/agents-run/tests/unit/mocks/db-mock.ts
  packages/queue-bullmq/package.json
  packages/queue-bullmq/src/index.ts
  packages/queue-bullmq/tsconfig.json
  pnpm-lock.yaml
  todo.md
Due: queue, agents-run

test: add frontend e2e test and MSW mocks for AppLaunchConfig flow
  apps/web/mocks/handlers.ts
  apps/web/tests/app-config-run-stream.spec.ts
Due: none

refactor(agents-run): extract outbox modules to meet size limits
  .cursor/commands/open-pr
  packages/agents-contracts/src/contracts/constants.ts
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/constants.ts
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/src/infra/workers/outbox-drain.ts
  packages/features/agents-run/src/infra/workers/outbox-events.ts
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  packages/features/agents-run/src/infra/workers/outbox-subscriber.ts
  packages/features/agents-run/src/infra/workers/run-worker.ts
  packages/queue-bullmq/src/index.ts
  packages/queue-bullmq/tsconfig.json
Due: agents-contracts, queue, agents-run

fix: resolve EVENT_TYPES import issue by using local constants
  apps/web/modules/run/lib/events.ts
  apps/web/modules/saas/auth/components/LoginForm.tsx
  packages/agents-contracts/tests/run-launch.spec.ts
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
Due: agents-contracts

fix(agents-run): resolve critical outbox singleton and async disposer issues
  docs/jira/bug-logs/BUG-INFRA-001.md
  docs/jira/bug-logs/BUG-INFRA-002.md
  docs/jira/bug-logs/BUG-INFRA-003.md
  packages/api/src/feature-registry.ts
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/infra/workers/outbox-subscriber.ts
Due: agents-run

docs(m5): update status and handoff with pr 71 progress
  docs/jira/milestones/milestone-5(current)/handoff-juinie.md
  docs/jira/milestones/milestone-5(current)/status-updates.md
Due: none

fix(agents-run): address copilot review findings
  .cursor/commands/open-pr
  docs/jira/bug-logs/BUG-INFRA-004.md
  packages/features/agents-run/src/infra/repos/run-repo.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  todo.md
Due: agents-run

chore: regenerate prisma zod manifest
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
Due: none

fix(typescript): add missing project references for queue-bullmq
  docs/jira/milestones/milestone-6(future)/proposed-features.md
  docs/pr-check-failures.md
  packages/agents-contracts/tsconfig.json
  packages/database/package.json
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/eventbus-inmemory/tsconfig.json
  packages/features/agents-run/src/application/usecases/stream-run.ts
  packages/features/agents-run/src/infra/repos/outbox-repo.ts
  packages/features/agents-run/src/infra/repos/run-event-repo.ts
  packages/features/agents-run/src/infra/repos/run-repo.ts
  packages/features/agents-run/src/infra/workers/outbox-events.ts
  packages/features/agents-run/tests/integration/helpers/await-outbox.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
  packages/features/agents-run/tests/unit/mocks/db-mock.ts
  packages/features/agents-run/tests/unit/repos.spec.ts
  packages/features/agents-run/tsconfig.json
  packages/queue-bullmq/tsconfig.json
  packages/queue-inmemory/tsconfig.json
  packages/queue/tsconfig.json
  tooling/typescript/base.json
  tooling/typescript/tsconfig.backend.json
Due: agents-contracts, eventbus, queue, agents-run

Path conditions:
  agents-contracts: any of: packages/agents-contracts, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  eventbus: any of: packages/eventbus, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  queue: any of: packages/queue, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  agents-run: any of: packages/features/agents-run, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
