Repository nirukk52/supa-screengraph: changes, and which Codecov flags are due for each by the changed paths.
All: agents-contracts, eventbus, queue, agents-run

fix(ci): ensure exact parity between local pr:check and CI workflow
  .github/workflows/validate-prs.yml
  docs/status/PR39-ci-failures.md
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  tooling/scripts/pr-check.mjs
Due: none

feat: consolidate CI workflows and achieve local/CI parity
  .github/workflows/validate-prs.yml
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
Due: none

docs: update architecture docs with unified CI/CD approach
  CLAUDE/01-architecture.md
Due: none

fix: correct workflow name to match filename for proper CI triggering
  .github/workflows/validate-prs.yml
Due: none

fix(ci): use pr-check.mjs in CI
  .github/workflows/validate-prs.yml
Due: none

ci: ignore generated JS and set outDir
  .biomeignore
  packages/auth/tsconfig.json
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/i18n/tsconfig.json
  packages/utils/tsconfig.json
Due: none

ci: make pr:check pass locally; disable mail/payments and auth-openapi
  packages/api/index.ts
  packages/api/modules/contact/procedures/submit-contact-form.ts
  packages/api/modules/newsletter/procedures/subscribe-to-newsletter.ts
  packages/api/orpc/procedures.ts
  packages/api/orpc/router.ts
  packages/api/tsconfig.json
  packages/auth/auth.ts
  packages/auth/lib/helper.ts
  packages/auth/lib/organization.ts
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/i18n/tsconfig.json
  tooling/typescript/tsconfig.backend.json
Due: none

chore(docs): log setup guidance and verification [cost:32]
  .gitignore
  docs/guides/package-setup-best-practices.md
  docs/status/junie-pro-handoff.md
  docs/status/junie-pro-status.md
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
Due: none

ci: improve workflow reliability and test setup [cost:28]
  .github/workflows/validate-prs.yml
Due: none

chore: update generated files [cost:12]
  .github/workflows/validate-prs.yml
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
Due: none

chore: update workflow [cost:8]
  .github/workflows/validate-prs.yml
Due: none

chore: update tsconfigs and generated files [cost:15]
  packages/api/tsconfig.json
  packages/auth/tsconfig.json
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/i18n/tsconfig.json
  tooling/typescript/base.json
Due: none

chore: update configs and generated files [cost:12]
  biome.json
  docs/status/error.md
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  tooling/scripts/pr-check.mjs
Due: none

chore: update linting configs and generated files [cost:10]
  .biomeignore
  biome.json
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  tooling/scripts/pr-check.mjs
Due: none

fix: address review feedback
  .biomeignore
  docs/status/junie-pro-handoff.md
  docs/status/junie-pro-status.md
  packages/api/modules/agents/router.ts
  packages/features/agents-run/src/infra/workers/run-worker.ts
  tooling/arch/dependency-cruiser.cjs
  tooling/typescript/base.json
  vitest.config.ts
Due: agents-run

fix: tidy imports after pr:check
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/infra/workers/run-worker.ts
  tooling/typescript/base.json
Due: agents-run

ci(workflows): restructure validate-prs into 5-stage pipeline [cost:1200]
  .github/workflows/validate-prs.yml
Due: none

docs: capture pr39 learnings
  .gitignore
  CLAUDE.md
  docs/architecture/pr39-backend-patterns.md
  docs/guides/pr39-retro.md
  docs/retro/m3-backend-handoff.md
  docs/retro/milestone3-sprint2.md
  docs/status/PR39-ci-failures.md
  docs/status/junie-pro-handoff.md
  docs/status/junie-pro-status.md
Due: none

feat(agents-run): m4 persistence+outbox+backfill [cost:200]\n\nClaude-Update: no
  docs/retro/milestone-3(4-star-rating)/handoff-juinie.md
  docs/retro/milestone-3(4-star-rating)/m2-vs-m3-changes.md
  docs/retro/milestone-3(4-star-rating)/objective.md
  docs/retro/milestone-3(4-star-rating)/retro.md
  docs/retro/milestone-3(4-star-rating)/status-updates.md
  docs/retro/milestone-3(4-star-rating)/work-completed.md
  docs/retro/milestone-4(currrent)/m4-plan.txt
  packages/agent/package.json
  packages/agent/scripts/pytest-runner.js
  packages/agents-contracts/package.json
  packages/agents-contracts/scripts/vitest-runner.js
  packages/agents-contracts/src/contracts/event-schemas.ts
  packages/agents-contracts/src/contracts/event-types.ts
  packages/agents-contracts/vitest.config.ts
  packages/database/prisma/schema.prisma
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/database/prisma/zod/index.ts
  packages/features/agents-run/package.json
  packages/features/agents-run/src/application/usecases/start-run.ts
  packages/features/agents-run/src/application/usecases/stream-run.ts
  packages/features/agents-run/src/infra/repos/outbox-repo.ts
  packages/features/agents-run/src/infra/repos/run-event-repo.ts
  packages/features/agents-run/src/infra/repos/run-repo.ts
  packages/features/agents-run/src/infra/workers/adapters.ts
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  packages/features/agents-run/src/infra/workers/run-worker.ts
  packages/features/agents-run/tests/outbox.spec.ts
  packages/features/agents-run/tests/repos.spec.ts
  packages/features/agents-run/tests/stream-backfill.spec.ts
  pnpm-lock.yaml
Due: agents-contracts, agents-run

docs(m4): mark milestone complete with PR link
  docs/retro/milestone-4(currrent)/handoff-juinie.md
  docs/retro/milestone-4(currrent)/status-updates.md
Due: none

docs(m4): log remaining work deferred to M6+
  docs/retro/milestone-4(currrent)/remaining-work.md
  docs/retro/milestone-4(currrent)/work-completed.md
Due: none

fix(m4): address copilot review comments
  CLAUDE/04-philosophy.md
  docs/retro/milestone-4(currrent)/remaining-work.md
  docs/retro/milestone-4(currrent)/status-updates.md
  docs/retro/milestone-4(currrent)/work-completed.md
  docs/retro/milestone-5(next)/hygine_before_m5_or_inbetween_m4.md
  packages/database/prisma/test/teardown.js
  packages/database/prisma/test/teardown.ts
  vitest.config.ts
Due: none

feat(agents-run): m5 supertest-like wrapper for e2e
  packages/api/package.json
  packages/api/tests/agents-run.e2e.spec.ts
  packages/api/tests/helpers/supertest-app.ts
  packages/database/prisma/test/teardown.js
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  pnpm-lock.yaml
Due: none

feat(agents-run): m4 observability layer
  docs/architecture/flow.md
  docs/retro/milestone-4(currrent)/final-retro.md
  docs/runbooks/m4-run-diagnostics.md
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/package.json
  packages/features/agents-run/src/infra/repos/run-event-repo.ts
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  pnpm-lock.yaml
Due: agents-run

feat(agents-run): m4 observability layer complete
  docs/architecture/flow.md
  docs/retro/milestone-4(currrent)/final-retro.md
  docs/runbooks/m4-run-diagnostics.md
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/package.json
  packages/features/agents-run/src/infra/repos/run-event-repo.ts
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  pnpm-lock.yaml
Due: agents-run

chore: m4-cleanup
  .cursor/plans/m-f3399a49.plan.md
  .cursor/rules/naming-coventions.mdc
  .github/ISSUE_TEMPLATE/codecov-patch-coverage.md
  CLAUDE/06-flowchart.md
  docs/guides/codecov-setup-quickstart.md
  docs/issues/COVERAGE_FINDINGS_SUMMARY.md
  docs/issues/codecov-patch-coverage-proposal.md
  docs/retro/milestone-4(currrent)/hygine_before_m5_or_inbetween_m4.md
  packages/agents-contracts/src/contracts/constants.ts
  packages/agents-contracts/src/contracts/event-schemas.ts
  packages/agents-contracts/src/contracts/event-types.ts
  packages/api/tests/agents-run.e2e.spec.ts
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/usecases/cancel-run.ts
  packages/features/agents-run/src/application/usecases/start-run.ts
  packages/features/agents-run/src/application/usecases/stream-run.ts
  packages/features/agents-run/src/infra/repos/run-event-repo.ts
  packages/features/agents-run/src/infra/workers/adapters.ts
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  packages/features/agents-run/src/infra/workers/run-worker.ts
  packages/features/agents-run/tests/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/outbox.spec.ts
  packages/features/agents-run/tests/repos.spec.ts
  packages/features/agents-run/tests/stream-backfill.spec.ts
Due: agents-contracts, agents-run

docs: add outbox rationale and naming conventions\n\nClaude-Update: yes
  .cursor/rules/naming-coventions.mdc
  CLAUDE/01-architecture.md
  CLAUDE/02-rules.md
Due: none

feat(frontend): enhance Rino persona with comprehensive frontend expertise
  .mcp/persona-rino-frontend.json
Due: none

test(agents-run): split unit and integration tests
  CLAUDE/02-rules.md
  docs/guides/package-setup-best-practices.md
  docs/retro/milestone-4(currrent)/retro.md
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  packages/features/agents-run/tests/CLAUDE.md
  packages/features/agents-run/tests/integration/debug-stream.spec.ts
  packages/features/agents-run/tests/integration/helpers/await-outbox.ts
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
  packages/features/agents-run/tests/integration/stream.spec.ts
  packages/features/agents-run/tests/outbox.spec.ts
  packages/features/agents-run/tests/stream-backfill.spec.ts
  packages/features/agents-run/tests/unit/cancel.spec.ts
  packages/features/agents-run/tests/unit/mocks/db-mock.ts
  packages/features/agents-run/tests/unit/repos.spec.ts
  packages/features/agents-run/tests/unit/sequencer.spec.ts
  packages/features/agents-run/tests/unit/stream-heartbeat.spec.ts
  tooling/scripts/scaffold/index.ts
Due: agents-run

feat: migrate to oRPC native SSE streaming
  CLAUDE.md
  docs/retro/milestone-4(currrent)/retro.md
  packages/api/index.ts
  packages/api/modules/agents/router.ts
Due: none

chore: setup M5 milestone structure
  docs/milestones/milestone-1/milestone-1.md
  docs/milestones/milestone-2and3-setup/m3-backend-handoff.md
  docs/milestones/milestone-2and3-setup/m3-setup-day2-tasks.md
  docs/milestones/milestone-2and3-setup/milestone-3-setup.md
  docs/milestones/milestone-2and3-setup/milestone3-sprint2.md
  docs/milestones/milestone-2and3-setup/plan.md
  docs/milestones/milestone-3(4-star-rating)/handoff-juinie.md
  docs/milestones/milestone-3(4-star-rating)/m2-vs-m3-changes.md
  docs/milestones/milestone-3(4-star-rating)/objective.md
  docs/milestones/milestone-3(4-star-rating)/retro.md
  docs/milestones/milestone-3(4-star-rating)/status-updates.md
  docs/milestones/milestone-3(4-star-rating)/work-completed.md
  docs/milestones/milestone-4(3.5-star-rating)/final-retro.md
  docs/milestones/milestone-4(3.5-star-rating)/handoff-juinie.md
  docs/milestones/milestone-4(3.5-star-rating)/hygine_before_m5_or_inbetween_m4.md
  docs/milestones/milestone-4(3.5-star-rating)/m2-vs-m3-changes.md
  docs/milestones/milestone-4(3.5-star-rating)/m4-plan.txt
  docs/milestones/milestone-4(3.5-star-rating)/m4_v2_prisma_setup.md
  docs/milestones/milestone-4(3.5-star-rating)/objective.md
  docs/milestones/milestone-4(3.5-star-rating)/retro.md
  docs/milestones/milestone-4(3.5-star-rating)/status-updates.md
  docs/milestones/milestone-4(3.5-star-rating)/work-completed.md
  docs/milestones/milestone-5(current)/handoff-juinie.md
  docs/milestones/milestone-5(current)/last_retros_action_items.md
  docs/milestones/milestone-5(current)/objective.md
  docs/milestones/milestone-5(current)/retro.md
  docs/milestones/milestone-5(current)/status-updates.md
  docs/milestones/milestone-5(current)/work-completed.md
Due: none

feat: add waitForRunCompletion helper for deterministic tests
  packages/features/agents-run/tests/integration/helpers/await-outbox.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
Due: agents-run

feat: update integration tests to use waitForRunCompletion
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
  packages/features/agents-run/tests/integration/stream.spec.ts
Due: agents-run

fix: prevent API boot workers from starting during tests
  .cursor/commands/setup_a_milestone
  .cursor/commands/update_knowledge_graph
  .mcp/persona-rino-frontend.json
  docs/milestones/milestone-5(current)/retro.md
  packages/api/index.ts
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/tests/integration/debug-stream.spec.ts
  packages/features/agents-run/tests/integration/helpers/await-outbox.ts
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
  packages/features/agents-run/tests/integration/stream.spec.ts
Due: agents-run

ci: parallelize e2e after unit tests\n\nClaude-Update: no
  .github/workflows/validate-prs.yml
Due: none

Path conditions:
  agents-contracts: any of: packages/agents-contracts, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  eventbus: any of: packages/eventbus, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  queue: any of: packages/queue, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  agents-run: any of: packages/features/agents-run, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
