Repository nirukk52/supa-screengraph: changes, and which Codecov flags are due for each by the changed paths.
All: agents-contracts, eventbus, queue, agents-run

refactor(queue): make InMemoryQueue synchronous for deterministic tests
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

test(agentsrun): ensure per-test container shares global infra queue
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

test(agentsrun): defer worker tests blocked by DEBT-0002/0003
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

feat(agentsrun): add OutboxController and use in worker
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  packages/features/agents-run/src/infra/workers/run-worker.ts
Due: agents-run

fix(agentsrun): add test isolation resets for module-level state
  .cursor/plans/make-687838d7.plan.md
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/container.ts
  packages/features/agents-run/src/application/container.types.ts
  packages/features/agents-run/src/application/usecases/sequencer.ts
  packages/features/agents-run/src/infra/workers/adapters.ts
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  packages/features/agents-run/src/infra/workers/outbox-subscriber.ts
  packages/features/agents-run/src/infra/workers/run-worker.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
  packages/features/agents-run/tests/integration/stream.spec.ts
Due: agents-run

test: complete phase 1 test isolation fixes
  docs/jira/milestones/m5.5-phase1-test-fixes-summary.md
  packages/database/prisma/client.ts
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/container.ts
  packages/features/agents-run/src/application/container.types.ts
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/src/application/usecases/start-run.ts
  packages/features/agents-run/src/claude.md
  packages/features/agents-run/src/infra/repos/run-event-repo.ts
  packages/features/agents-run/src/infra/repos/run-repo.ts
  packages/features/agents-run/src/infra/workers/adapters.ts
  packages/features/agents-run/src/infra/workers/outbox-drain.ts
  packages/features/agents-run/src/infra/workers/outbox-events.ts
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  packages/features/agents-run/src/infra/workers/run-worker.ts
  packages/features/agents-run/tests/CLAUDE.md
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
  packages/features/agents-run/tests/integration/stream.spec.ts
  packages/features/agents-run/tests/unit/repos.spec.ts
Due: agents-run

docs: add tdd best practices and di rules from m5.5
  CLAUDE.md
  CLAUDE/02-rules.md
  CLAUDE/04-philosophy.md
Due: none

fix: deflake integration tests with proper async cleanup
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/tests/integration/helpers/await-outbox.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

fix: resolve TypeScript path imports and module resolution
  CLAUDE.md
  apps/web/next.config.ts
  apps/web/package.json
  biome.json
  docs/jira/feature-requests/0004-imports-path-resolution-umbrella.md
  package.json
  packages/ai/index.js
  packages/ai/index.ts
  packages/ai/lib/index.js
  packages/ai/lib/prompts.js
  packages/ai/tsconfig.json
  packages/api/modules/ai/procedures/add-message-to-chat.ts
  packages/api/tsconfig.json
  packages/auth/auth.js
  packages/auth/index.js
  packages/auth/lib/organization.js
  packages/auth/plugins/invitation-only/index.js
  packages/auth/tsconfig.json
  packages/eventbus-inmemory/tsconfig.json
  packages/eventbus/tsconfig.json
  packages/features/agents-run/tsconfig.json
  packages/i18n/index.js
  packages/i18n/lib/messages.js
  packages/i18n/types.js
  packages/queue-bullmq/tsconfig.json
  packages/queue-inmemory/tsconfig.json
  packages/storage/tsconfig.json
  pnpm-lock.yaml
  tooling/scripts/validate-tsconfig-extends.mjs
  tooling/typescript/base.json
  tooling/typescript/react-library.json
  vitest.config.ts
  vitest.e2e.config.ts
Due: eventbus, queue, agents-run

ci: run PR validation workflow for all pull requests
  .github/workflows/validate-prs.yml
Due: none

fix: resolve E2E test timeout by skipping infinite stream endpoint
  .cursor/commands/and_update_knowledge_graph
  .husky/pre-push
  packages/api/index.ts
  packages/api/modules/agents/router.ts
  packages/api/tests/agents-run.e2e.spec.ts
  packages/database/package.json
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/container.ts
  packages/features/agents-run/src/application/container.types.ts
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/src/application/usecases/cancel-run.ts
  packages/features/agents-run/src/application/usecases/start-run.ts
  packages/features/agents-run/src/index.ts
  packages/features/agents-run/src/infra/api/get-stream-run.ts
  packages/features/agents-run/src/infra/api/post-cancel-run.ts
  packages/features/agents-run/src/infra/api/post-start-run.ts
  packages/features/agents-run/src/infra/repos/run-event-repo.ts
  packages/features/agents-run/src/infra/repos/run-repo.ts
  packages/features/agents-run/src/infra/workers/adapters.ts
  packages/features/agents-run/src/infra/workers/outbox-drain.ts
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  packages/features/agents-run/src/infra/workers/run-worker.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/unit/cancel.spec.ts
Due: agents-run

fix: resolve outbox controller container passing issues
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
Due: agents-run

test: add CI debugging to concurrent runs test
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

fix: improve error message formatting in concurrent runs test
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

test: add console.error logging to concurrent runs test
  .github/workflows/validate-prs.yml
  backend_e2e
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  tooling/ci/validate-prs.local.yml
  tooling/scripts/pr-check.mjs
  unit_tests
Due: agents-run

style: fix formatting in concurrent runs test logging
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

feat: add alias parity check and path rewriting tools
  docs/jira/feature-requests/0007-next-alias-parity-ci-check.md
  docs/jira/feature-requests/0008-compile-time-path-rewriting.md
  package.json
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  pnpm-lock.yaml
  tooling/scripts/check-alias-parity.mjs
  tooling/scripts/postbuild-rewrite-paths.mjs
  tooling/scripts/pr-check.mjs
Due: none

test: stabilize outbox drain; add CI diagnostics
  packages/features/agents-run/tests/integration/helpers/await-outbox.ts
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
Due: agents-run

fix: remove getInfra call that violates test-only guard
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
Due: agents-run

fix: restore infra reuse pattern and remove test-time singletons
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
Due: agents-run

fix: remove resource leak in postStartRun
  packages/api/index.ts
  packages/api/modules/agents/router.ts
Due: none

fix: skip intermittent concurrent test for deterministic suite
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

docs: update test status after skipping intermittent test
  docs/jira/milestones/milestone-5(current)/retro.md
  packages/features/agents-run/tests/CLAUDE.md
Due: agents-run

test: verify CI determinism - dummy doc update
  packages/features/agents-run/tests/CLAUDE.md
Due: agents-run

docs: restore FEATURE-0004 and mark FEATURE-0009 complete
  docs/jira/feature-requests/0004-imports-path-resolution-umbrella.md
  docs/jira/feature-requests/0009-runtime-tsconfig-paths-register.md
  package.json
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  tooling/scripts/package.json
Due: none

Path conditions:
  agents-contracts: any of: packages/agents-contracts, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  eventbus: any of: packages/eventbus, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  queue: any of: packages/queue, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  agents-run: any of: packages/features/agents-run, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
