Repository nirukk52/supa-screengraph: changes, and which Codecov flags are due for each by the changed paths.
All: agents-contracts, eventbus, queue, agents-run

fix: resolve EVENT_TYPES import issue with local definition
  apps/web/modules/run/lib/events.ts
  apps/web/next.config.ts
  apps/web/package.json
  packages/agents-contracts/tests/run-launch.spec.ts
  packages/api/index.ts
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
Due: agents-contracts

docs: add technical note about EVENT_TYPES workaround
  apps/web/modules/run/lib/events.ts
Due: none

fix(database): add exports field to package.json for vite resolution
  docs/pr-check-failures.md
  packages/database/package.json
Due: none

fix(database): point exports to source files instead of dist
  docs/pr-check-failures.md
  packages/database/package.json
Due: none

chore(database): remove compiled artifacts from source tree
  apps/web/modules/saas/auth/components/LoginForm.tsx
  docs/jira/milestones/milestone-5(current)/handoff-juinie.md
  docs/jira/milestones/milestone-5(current)/milestone-5.md
  docs/jira/milestones/milestone-5(current)/status-updates.md
  docs/jira/milestones/milestone-5(current)/work-completed.md
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  pnpm-lock.yaml
Due: none

fix(database): use explicit /index in directory import
  docs/pr-check-failures.md
  packages/database/index.ts
Due: none

fix(ci): exclude backend e2e tests from unit test coverage run
  docs/pr-check-failures.md
  vitest.config.ts
Due: none

feat(ci): add local CI parity tooling with act and mise
  .actrc
  .husky/pre-push
  .mise.toml
  README.md
  docs/guides/local-ci-parity.md
  docs/jira/feature-requests/0003-ci-local-parity-tooling.md
  docs/jira/milestones/milestone-5(current)/milestone-5.md
  package.json
  packages/api/modules/ai/procedures/create-chat.ts
  packages/api/modules/ai/procedures/update-chat.ts
  packages/database/prisma/client.ts
  tooling/ci/act.env
  tooling/ci/validate-prs.local.yml
  tooling/scripts/run-publint.mjs
Due: none

chore: skip publint under act to avoid stdout overflow
  tooling/scripts/run-publint.mjs
Due: none

feat(ci): implement CI/local parity tooling with act & mise
  package.json
  packages/database/package.json
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/database/tsconfig.json
  vitest.e2e.config.ts
Due: none

fix(ts): resolve module resolution for @repo/database
  .husky/pre-push
  packages/api/tsconfig.json
  packages/auth/tsconfig.json
  packages/database/package.json
  packages/database/prisma/client.ts
  packages/features/agents-run/src/infra/repos/run-event-repo.ts
  packages/features/agents-run/src/infra/repos/run-repo.ts
  packages/features/agents-run/src/infra/workers/outbox-events.ts
  packages/features/agents-run/tsconfig.json
  tooling/typescript/base.json
  tooling/typescript/tsconfig.backend.json
Due: agents-run

fix(db): use .js extension for ESM imports in database package
  docs/pr-check-failures.md
  packages/database/index.ts
Due: none

chore(ci): revert pre-push to use pr:check, add ci:act command
  .husky/pre-push
  package.json
Due: none

chore(ci): remove SKIP_PRE_PUSH and Claude update enforcement
  .husky/pre-push
Due: none

feat(ci): add ACT_RUN flag to pre-push hook
  .husky/pre-push
Due: none

docs(m5): update milestone status - 70% complete
  docs/jira/milestones/milestone-5(current)/milestone-5.md
Due: none

chore: rebuild packages after merge with main
  apps/web/modules/run/lib/events.ts
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
Due: none

chore(agents-run): extend container factory overrides
  packages/features/agents-run/src/application/container.ts
  packages/features/agents-run/src/application/container.types.ts
Due: agents-run

fix(frontend): resolve playwright test selector issues
  apps/web/tests/app-config-run-stream.spec.ts
Due: none

docs(m5.5): restore sequential PR plan to cursor plans
  .cursor/plans/test-357679da.plan.md
Due: none

feat(agents-run): harness adopts DI per-test container [cost:92k]
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/container.types.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
Due: agents-run

feat: add optional container param to getInfra
  packages/features/agents-run/src/application/infra.ts
Due: agents-run

feat: unskip stream.spec using DI container
  packages/features/agents-run/src/application/usecases/start-run.ts
  packages/features/agents-run/src/application/usecases/stream-run.ts
  packages/features/agents-run/src/infra/workers/run-worker.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
  packages/features/agents-run/tests/integration/stream.spec.ts
Due: agents-run

fix(frontend): prevent pg-format from being bundled in client bundles
  apps/web/next.config.ts
Due: none

fix(frontend): mark database packages as server-only for Turbopack
  apps/web/next.config.ts
Due: none

feat: unskip outbox.spec with DI container and fix circular dependency
  docs/jira/feature-requests/0004-imports-path-resolution-umbrella.md
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
Due: agents-run

feat: unskip outbox test and fix DI container races
  docs/jira/milestones/milestone-5.5-di-unskips.md
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/application/container.ts
  packages/features/agents-run/src/application/infra.ts
  packages/features/agents-run/src/application/usecases/start-run.ts
  packages/features/agents-run/src/application/usecases/stream-run.ts
  packages/features/agents-run/src/infra/workers/outbox-drain.ts
  packages/features/agents-run/src/infra/workers/outbox-events.ts
  packages/features/agents-run/src/infra/workers/outbox-publisher.ts
  packages/features/agents-run/tests/integration/helpers/await-outbox.ts
  packages/features/agents-run/tests/integration/helpers/test-harness.ts
  packages/features/agents-run/tests/integration/stream-backfill.spec.ts
  packages/features/agents-run/tests/integration/stream.spec.ts
Due: agents-run

docs: update M5.5 milestone with PR-05 completion
  docs/jira/milestones/milestone-5.5-di-unskips.md
Due: none

test(agentsrun): unskip orchestrator golden path
  docs/jira/milestones/milestone-5.5-di-unskips.md
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/src/claude.md
  packages/features/agents-run/tests/CLAUDE.md
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

test(agentsrun): bump orchestrator golden path timeouts
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

test(agentsrun): stabilize orchestrator golden path by asserting from DB
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

test(agentsrun): extend orchestrator golden path timeouts to 90s
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

test(agentsrun): stabilize outbox test using awaitOutboxFlush
  docs/jira/feature-requests/0005-centralize-tsconfig-aliases.md
  docs/jira/feature-requests/0006-vitest-tsconfig-paths.md
  docs/jira/feature-requests/0007-next-alias-parity-ci-check.md
  docs/jira/feature-requests/0008-compile-time-path-rewriting.md
  docs/jira/feature-requests/0009-runtime-tsconfig-paths-register.md
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
Due: agents-run

docs(jira): add imports/path resolution feature stories
  docs/jira/feature-requests/0005-centralize-tsconfig-aliases.md
  docs/jira/feature-requests/0006-vitest-tsconfig-paths.md
  docs/jira/feature-requests/0007-next-alias-parity-ci-check.md
  docs/jira/feature-requests/0008-compile-time-path-rewriting.md
  docs/jira/feature-requests/0009-runtime-tsconfig-paths-register.md
Due: none

test(agentsrun): relax golden path minimal event count to 3
  docs/jira/feature-requests/0004-imports-path-resolution-umbrella.md
  docs/jira/feature-requests/0005-centralize-tsconfig-aliases.md
  docs/jira/feature-requests/0006-vitest-tsconfig-paths.md
  docs/jira/feature-requests/0007-next-alias-parity-ci-check.md
  docs/jira/feature-requests/0008-compile-time-path-rewriting.md
  docs/jira/feature-requests/0009-runtime-tsconfig-paths-register.md
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

test(agentsrun): fix import order in outbox.spec.ts
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/features/agents-run/tests/integration/outbox.spec.ts
Due: agents-run

test(agentsrun): re-skip orchestrator golden path due to suite flakiness
  packages/database/prisma/zod/.prisma-zod-generator-manifest.json
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
Due: agents-run

docs(milestone): update PR-06 scope to docs + outbox fix
  docs/jira/milestones/milestone-5.5-di-unskips.md
Due: none

test(agentsrun): make orchestrator integration tests deterministic
  packages/features/agents-run/tests/integration/orchestrator-integration.spec.ts
  packages/queue-inmemory/src/index.ts
Due: queue, agents-run

Path conditions:
  agents-contracts: any of: packages/agents-contracts, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  eventbus: any of: packages/eventbus, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  queue: any of: packages/queue, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
  agents-run: any of: packages/features/agents-run, but not: packages/database/prisma/generated/**, **/dist/**, **/build/**, **/node_modules/**, vitest.config.ts
